.view-wrapper.landing {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    //background-color: #f7f7f7;
}

.card {
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 32px -10px rgba(0, 0, 0, 0.13);
}

p {
    margin: 20px 0 10px 0;
}

.cta-button {
    min-height: 42px;
    margin: 10px 0 0 0;
    max-width: 400px;
    width: 100%;
    border-radius: 100px;
    background-color: #FF4081;
    color: white;
    border: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


@media only screen and (max-width: 500px) {
    .view-wrapper.landing {
        width: 100%;
        padding: 0;
        background: transparent;
    }
}

@media only screen and (max-width: 380px) {
    //.mobile-logos {
    //    display: flex;
    //    justify-content: space-between;
    //
    //    .logo:first-child {
    //        margin: 0;
    //        padding: 0;
    //    }
    //}
}

@media only screen and (max-width: 360px) {

    //.card {
    //    max-width: 400px;
    //}
    //
    //.cta-button {
    //    max-width: 400px;
    //}
}
