<div class="view-wrapper landing">
    <div class="container">
        <div class="card">
            <h2>{{'coronavirus_test' | translate}}</h2>
            <p>{{'coronavirus_test_information_1' | translate}}</p>
            <p>{{'your_answers_help_us' | translate}}</p>
            <p>{{'coronavirus_test_information_2' | translate}}</p>
            <p>{{'ip_address_consent' | translate}}</p>
            <br>
        </div>
        <div class="card">
            <h2>{{'choose_language' | translate}}</h2>
            <ng-container *ngIf="localeService.locale">
                <mat-form-field>
                    <mat-label>Keel/Language/Язык</mat-label>
                    <mat-select [(ngModel)]="localeService.locale"
                                (ngModelChange)="localeService.changeLocale(localeService.locale)">
                        <mat-option value="et">{{'et' | translate}}</mat-option>
                        <mat-option value="en_US">{{'en_US' | translate}}</mat-option>
                        <mat-option value="ru">{{'ru' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
        <button [routerLink]="['/form']" class="cta-button">{{'start' | translate}}</button>
    </div>
</div>

