<div class="view-wrapper">
    <div class="symptoms-form">
        <mat-vertical-stepper #stepper id="stepper">

            <mat-step [stepControl]="intent">
                <form [formGroup]="intent">
                    <ng-template matStepLabel>{{'intent' | translate}}</ng-template>
                    <h4>{{'for_whom' | translate}}</h4>
                    <mat-radio-group formControlName="intent" required>
                        <mat-radio-button class="example-radio-button" value="self">
                            {{'self' | translate}}
                        </mat-radio-button>
                        <br><br>
                        <mat-radio-button class="example-radio-button" value="family">
                            {{'family' | translate}}
                        </mat-radio-button>
                        <br><br>
                        <mat-radio-button class="example-radio-button" value="test">
                            {{'testing' | translate}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <br>
                    <p class="light">{{'if_foreign_choose_testing' | translate}}</p>
                </form>
            </mat-step>

            <mat-step [stepControl]="general">
                <form [formGroup]="general">
                    <ng-template matStepLabel>{{'sex_and_age' | translate}}</ng-template>
                    <h4>{{'sex' | translate}}</h4>
                    <mat-button-toggle-group formControlName="gender" required>
                        <mat-button-toggle value="male">{{'male' | translate}}</mat-button-toggle>
                        <mat-button-toggle value="female">{{'female' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <h4>{{'age' | translate}}</h4>
                    <mat-form-field>
                        <mat-label>{{'age' | translate}}</mat-label>
                        <input type="tel" matInput placeholder="{{'enter_age' | translate}}" formControlName="age"
                               required>
                    </mat-form-field>
                </form>
            </mat-step>

            <mat-step [stepControl]="chronic_conditions">
                <form [formGroup]="chronic_conditions">
                    <ng-template matStepLabel>{{'chronic_conditions' | translate}}</ng-template>
                    <h4>{{'do_you_have_any_chronic_conditions' | translate}}</h4>
                    <p>{{'chronic_conditions_list' | translate}}</p><br>
                    <mat-button-toggle-group formControlName="chronic_conditions" required>
                        <mat-button-toggle [value]="true">{{'yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </mat-step>

            <mat-step [stepControl]="symptoms">
                <form [formGroup]="symptoms">
                    <ng-template matStepLabel>{{'symptoms' | translate}}</ng-template>
                    <h4>{{'any_of_the_symptoms' | translate}}</h4>
                    <p>{{'if_no_symptoms_continue' | translate}}</p>
                    <br>
                    <div class="wrapper">
                        <app-chip [$formControlName]="'fever'"></app-chip>
                        <app-chip [$formControlName]="'shortness_of_breath'"></app-chip>
                        <app-chip [$formControlName]="'cough'"></app-chip>
                    </div>
                    <br>
                    <p class="light">{{'what_is_shortness_of_breath' | translate}}</p>
                </form>
            </mat-step>

            <mat-step [stepControl]="additionalSymptoms">
                <form [formGroup]="additionalSymptoms">
                    <ng-template matStepLabel>{{'symptoms' | translate}}</ng-template>
                    <h4>{{'do_you_have_additional_symptoms' | translate}}</h4>
                    <br>
                    <mat-button-toggle-group formControlName="additional_symptoms" required>
                        <mat-button-toggle [value]="true">{{'yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </mat-step>

            <mat-step
                *ngIf="symptoms.controls['fever'].value
                || symptoms.controls['cough'].value
                || symptoms.controls['shortness_of_breath'].value"
                [stepControl]="symptomsOptions">
                <form [formGroup]="symptomsOptions">
                    <ng-template matStepLabel>{{'symptoms_options' | translate}}</ng-template>
                    <ng-container *ngIf="symptoms.controls['fever'].value">
                        <h4>{{'how_high_fever' | translate}}</h4>
                        <mat-form-field>
                            <mat-label>{{ 'temperature' | translate }} </mat-label>
                            <input matInput formControlName="fever_temperature" required>
                        </mat-form-field>
                    </ng-container>
                    <ng-container>
                        <h4>{{'how_long_have_symptoms_persisted' | translate}}</h4>
                        <mat-form-field>
                            <mat-label>{{ 'number_of_days' | translate }} </mat-label>
                            <input matInput type="tel" formControlName="symptoms_duration" required>
                        </mat-form-field>
                    </ng-container>
                </form>
            </mat-step>

            <mat-step [stepControl]="exposure">
                <form [formGroup]="exposure">
                    <ng-template matStepLabel>{{'exposure' | translate}}</ng-template>
                    <h4>{{'close_contact_14_days' | translate}}</h4>
                    <a class="rand-link" target="_blank"
                       (click)="pageService.openModal('close_contact')">{{ 'link_what_is_exposure' | translate }}</a>
                    <br><br>
                    <mat-button-toggle-group formControlName="close_contact" required>
                        <mat-button-toggle class="small" [value]="'yes'">{{'yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle class="small" [value]="'no'">{{'no' | translate}}</mat-button-toggle>
                        <mat-button-toggle class="small" [value]="'maybe'">{{'maybe' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <br>
                    <br>
                    <p class="light">
                        {{'choose_close_contact_maybe' | translate}}
                        <a class="rand-link" target="_blank"
                           (click)="pageService.openModal('close_contact')">{{ 'in_close_contact' | translate }}</a>
                        {{'choose_close_contact_maybe_continued' | translate}}
                    </p>
                </form>
            </mat-step>

            <mat-step [stepControl]="location">
                <form [formGroup]="location">
                    <ng-template matStepLabel>{{'location' | translate}}</ng-template>
                    <h4>{{'share_your_location_information' | translate}}</h4>
                    <p>{{'location_anonymous' | translate}} <a
                        (click)="pageService.openModal('location')">{{'location_anonymous_information' | translate}}</a>
                    </p>
                    <br>
                    <mat-button-toggle-group formControlName="shareLocation" required>
                        <mat-button-toggle [value]="true"
                                           (click)="getLocation()">{{'share' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'no_do_not_share' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </mat-step>

            <mat-step *ngIf="!location.controls['shareLocation'].value" [stepControl]="location">
                <form [formGroup]="location">
                    <ng-template matStepLabel>{{'location' | translate}}</ng-template>
                    <h4>{{'please_select_county' | translate}}</h4>
                    <mat-form-field>
                        <mat-label>{{'county' | translate}}</mat-label>
                        <mat-select formControlName="county">
                            <mat-option *ngFor="let county of counties" [value]="county">
                                {{county | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </mat-step>

            <mat-step [stepControl]="testing">
                <form [formGroup]="testing">
                    <ng-template matStepLabel>{{'info' | translate}}</ng-template>
                    <h4>{{'have_you_been_tested_or_examined' | translate}}</h4>
                    <br>
                    <mat-button-toggle-group formControlName="has_been_tested" required>
                        <mat-button-toggle [value]="true">{{'yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </mat-step>
        </mat-vertical-stepper>

        <div class="next-button-wrapper">
            <button [disabled]="loading || !currentStep['valid']"
                    [ngClass]="{'disabled': !currentStep['valid'] || loading}"
                    class="btn-next-button {{buttonClass}}" mat-button
                    (click)="getStepButton(stepper)">
                <ng-container *ngIf="!loading">
                    {{buttonText | translate}}
                </ng-container>
                <ng-container *ngIf="loading">
                    <loading-ellipsis></loading-ellipsis>
                </ng-container>
            </button>
        </div>
    </div>
</div>
